.work-card {
    padding-right: 20px;
    justify-content: center;
}

.image-container {
    width: 100%;
    height: 350px; /* Keep or adjust this height to control the image container size */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img {
    max-height: 100%;
    width: auto; /* Ensures the width scales correctly */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 8px; /* Optional: Adds rounded corners */
}
.p-container {
    max-width: 100%;
    min-height: 200px;
    padding: 0 15px; 
    margin-bottom: 20px;
    text-align: center; 
}

.p-container p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 450;
    text-align: center;
    opacity: 0.5;
}

