
.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transform-origin: bottom right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.nav-link-no-underline::after,
.nav-link-no-underline:hover::after,
.nav-link-no-underline.active::after {
    content: none;
}

@media (max-width: 1000px) {
    .nav-link::after {
        display: none;
    }

    .nav-link:hover::after {
        display: none;
    }

    .nav-link.active::after {
        display: none;
    }
}
